<form action="/success" method="POST">

    <label>Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Email</label><br>
    <input type="email" name="email" required><br><br>

    <label>Phone</label><br>
    <input type="text" name="phone" required><br><br>

    <label>Event</label><br>
    <select name="event">
        <option>Workshop</option>
        <option>Hackathon</option>
        <option>Seminar</option>
    </select>

    <br><br>

    <input type="submit" value="Register">
    <input type="reset" value="Reset">

</form>